.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.secao-formulario {
    padding: 20px;
    max-width: 90%;
    margin: 20px auto;
}

.conteiner-formulario {
    background-color: var(--cor-fundo-campo);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    min-width: 320px;
    
    
}

.secao-formulario--texto {
    background: linear-gradient(to right, #915ceb, #d95e83);
    color: #fff;
    padding: 40px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secao-formulario--texto h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #fff;
}

.secao-formulario--texto .secao-formulario--subtitulo {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
}

.secao-formulario--texto p {
    font-size: 15px;
    line-height: 1.6;
    max-width: 400px;
}

.formulario {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario--grupo-controle {
    margin-bottom: 15px;
    position: relative;
}

.formulario--grupo-controle:last-child {
    margin-bottom: 0;
}
.formulario--grupo-controle input,
.formulario--grupo-controle textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

.formulario--grupo-controle input::placeholder,
.formulario--grupo-controle textarea::placeholder {
    color: var(--cor-placeholder);
}

.formulario--grupo-controle input:focus,
.formulario--grupo-controle textarea:focus {
    border-color: var(--cor-primaria-escura);

}

.formulario--grupo-controle.campo--invalido input,
.formulario--grupo-controle.campo--invalido textarea {
    border-color: var(--cor-borda-erro);
}

.campo--mensagem-erro {
    color: var(--cor-texto-erro);
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.formulario--campos-obrigatorios {
    font-size: 12px;
    color:var(--cor-texto-erro);
    margin-top: -10px;
    text-align: right;
}

.formulario--grupo-controle.campo--invalido .campo--mensagem-erro {
    display: block;
}

.formulario--botao-enviar {
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}

.formulario--botao-enviar:hover {
    background-color: hsl(154, 59%, 45%);
}   

