:root {
    --cor-primaria-clara: hsl(330, 100%, 75%);
    --cor-primaria-escura: hsl(260, 100%, 65%);
    --cor-texto-escuro: hsl(200, 15%, 25%);
    --cor-borda-erro: hsl(0, 100%, 67%);
    --cor-texto-erro: hsl(0, 100%, 67%);
    --cor-placeholder: hsl(0, 0%, 50%);
    --cor-fundo-campo: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--cor-primaria-clara), var(--cor-primaria-escura));
}