@media (min-width: 768px) {
  .secao-formulario {
    padding: 40px;
  }

  .conteiner-formulario {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
  }

  .secao-formulario--texto,
  .formulario {
    flex: 1;
  }

  .secao-formulario--texto {
    padding: 50px 40px;
    text-align: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .formulario {
    padding: 50px 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
